<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://localhost:19527/download/1478584457.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://s.xxzwawa.com/uploads/2020/0927/20200927103904_675.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://s.xxzwawa.com/uploads/2020/0927/20200927103904_675.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.soomigame.idlechess</string>
                    <key>bundle-version</key>
                    <string>1.0.2</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>放置自走棋</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>